<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Ezen a Wikipedia-szerű oldalon megtalálható minden hasznos zeneakadémiai jegyzetem az <a href="{{'/temakorok' | relative_url}}"> itt található</a> témakörökben.
        Próbáld ki a <a href="{{'/notes' | relative_url}}">keresést</a>, ha szükséged van rá! Egyéb jegyzetekért kattints <a href="{{'/other-shared-knowledge' | relative_url}}">ide</a>!
        </h3>

<div class="home-sub-text"> <h3>
        <a href="{{'https://denandras.notion.site/Aj-nlott-appok-c02d4f121e35456485199001d6d01911'}}">Ajánlott appok</a>
        </h3>

<div class="home-sub-text"> <h3>
        Tovább a <a href="{{'https://scores.andrasdenes.com'}}">kottatárra</a>
        </h3>

</div> </div>

